/* colors */
$backgroundPrimary: #f9f9f9;
$backgroundSecondary: #edeff0;
$backgroundWhite: #ffffff;
$colorMain: #4a4a68;

/* typography */
$familyPrimary: 'Open Sans',
sans-serif;
$familySecondary: 'Merriweather',
serif;

$wightBold: 700;
$wightSub: 600;
$wightNormal: 400;

$sizeMain: 18px;
$sizeMin: 16px;

/* breakpoints */
$mobile: 768px;
$tablet: 1200px;
$desktop: 1400px;