/* colors */
$backgroundPrimary: #f9f9f9;
$backgroundSecondary: #edeff0;
$backgroundThird: #8c8ca1;
$backgroundPaper: #ffffff;
$backgroundPaperLight: #f2f2f2;
$shadow: #0000001f;
$colorMain: #4a4a68;
$colorSecondary: #0d326c;

/* typography */
$familyPrimary: 'Open Sans', sans-serif;
$familySecondary: 'Merriweather', serif;

$wightBold: 700;
$wightSub: 600;
$wightNormal: 400;

$sizeMain: 18px;
$sizeMin: 16px;

/* breakpoints */
$mobile: 576px;
$tabletSmall: 768px;
$tablet: 1200px;
$desktop: 1400px;
