@media screen and (max-width: $tablet) {
	.search {
		&__wrapper {
			max-width: 75%;
		}
	}

	.container {
		padding: 10px;
	}
}

@media only screen and (max-width: $tabletSmall) {
	.search {
		&__wrapper {
			max-width: 90%;
		}
	}

	.card-container {
		&__card {
			width: calc(45% - 12px);
		}
	}
}

@media screen and (max-width: $mobile) {
	.search {
		&__container {
			flex-direction: column;
		}
	}

	.card-container {
		&__card {
			flex: 0 0 90%;
		}
	}
}
